extends ../template

block   variables
    -   var title="Обо мне"

block content
    h1  Блок
    p   при разработке портфолио использованы технологии
    ul.technologies
        li
            img(src="/assent/images/sass-gulp.png", alt="")
        li
            img(src="/assent/images/gulp.png", alt="")
        li
            img(src="/assent/images/webpack.png", alt="")