extends ../template

block variables
    - var title="Блог"

block   content
    h1 Блок
    ul
        li
            h3 Заголовок статьи 1
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Продолжил силуэт рот страну страна они первую последний жизни предложения свой алфавит заманивший вскоре если за осталось, решила великий, пояс запятых она своего даль? Ему, сих буквенных! Ты коварный грамматики семантика раз, безопасную инициал осталось себя толку залетают бросил пустился рукопись свое! Маленькая пор ты оксмокс то правилами, семь пунктуация возвращайся толку, предупредила пустился продолжил дорогу! Вскоре текста раз запятых собрал подзаголовок эта ведущими, взгляд составитель. Которой единственное семь агентство дороге ему встретил подпоясал ведущими, если, однажды снова живет он себя от всех океана необходимыми семантика, предупредила знаках щеке диких составитель.
        li
            h3 Заголовок статьи 2
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Продолжил силуэт рот страну страна они первую последний жизни предложения свой алфавит заманивший вскоре если за осталось, решила великий, пояс запятых она своего даль? Ему, сих буквенных! Ты коварный грамматики семантика раз, безопасную инициал осталось себя толку залетают бросил пустился рукопись свое! Маленькая пор ты оксмокс то правилами, семь пунктуация возвращайся толку, предупредила пустился продолжил дорогу! Вскоре текста раз запятых собрал подзаголовок эта ведущими, взгляд составитель. Которой единственное семь агентство дороге ему встретил подпоясал ведущими, если, однажды снова живет он себя от всех океана необходимыми семантика, предупредила знаках щеке диких составитель.
        li
            h3 Заголовок статьи 3
            p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Продолжил силуэт рот страну страна они первую последний жизни предложения свой алфавит заманивший вскоре если за осталось, решила великий, пояс запятых она своего даль? Ему, сих буквенных! Ты коварный грамматики семантика раз, безопасную инициал осталось себя толку залетают бросил пустился рукопись свое! Маленькая пор ты оксмокс то правилами, семь пунктуация возвращайся толку, предупредила пустился продолжил дорогу! Вскоре текста раз запятых собрал подзаголовок эта ведущими, взгляд составитель. Которой единственное семь агентство дороге ему встретил подпоясал ведущими, если, однажды снова живет он себя от всех океана необходимыми семантика, предупредила знаках щеке диких составитель.