extends ../template

block   variables
    -   var title="Добро пожаловать!"

block   content
    div.carkass
        div.avtorization
            span
                a(href='http://url') Авторизация
        div.author
            div.author-foto
            h3.author-name Владимир Астахов
            p.author-motto Личный сайт веб-разработчика
            ul.icon-author-social-networks
                li
                 a(href='http://url')
                    include ../../icons/vk.svg
                li
                 a(href='http://url')
                    include ../../icons/github.svg
                li
                 a(href='http://url')
                    include ../../icons/vk.svg
            ul.button-author
                li
                    span
                         a(href='/my-work.html') Мои работы
                li
                    span
                         a(href='/about.html') Обо мне
                li
                    span
                         a(href='/blog.html') Блог
    div.copyright
        p   &copy;  Владимир    Астахов | Создано с любовью в LoftSchool в 2017
